nav {
    display: flex;
    flex-direction: row;
    gap: 68px;
}
nav a {
    padding-top: 15px;
    border-top: 2px solid transparent;
}

nav a:hover {
  border-top: 2px solid #0065FC;
  color: #0065FC;
}

.logo {
    width: 61px;
    height: 19px;
    margin-top: 25px;
}

header { 
    display: flex;
    justify-content: space-between;
    height: 79px;
}


.recherche {
    border-radius: 15px;
    width: 377px;
    height: 49px;
    margin-bottom: 40px;
    
}


.recherche form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}


.recherche i {
    display: grid;
    place-content: center;
    font-size: 18px;
    color: black;
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.headline {
    display: flex;
    flex-direction: column;
    gap:8px;
    margin-bottom: 53px;
}

h1 {
    font-size: 22px;
    margin-bottom: 0;
}

button {
    background-color: #0065FC;
    font-size: 18px;
    font-weight: 700;
    color: white;
    width: 132px;
    height: 49px;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
}

.texte {
    width: 51%;
    height: 49px;
    text-align: center;
    font-size: 18px;
    font-weight:bold;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    border-right: none;
    line-height: 21.13px;
    }

.container_filtre {
    display: flex;
    gap: 15px;
    font-weight: bold;
    margin-bottom: 25px;
}

.container_filtre > p {
    display: flex;
    align-items: center;
    justify-content: center;

}

.duo {
    display: flex;
    gap: 15px;
}

.filtre {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    gap: 10px;
    width: max-content;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;  
}

.filtre i{
    display: grid;
    place-items: center;
    font-size: 22px;
    width: 22px;
    height: 22px;
    color: #0065FC;
}

.filtre:hover {
    background-color: #DEEBFF;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.info .fa-solid {
    display: grid;
    place-items: center;
    border: 1px solid #D9D9D9;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 11px;
}

.card2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    width: 250px;
    height: 207px;
    gap: 8px;
}

.populaires-cards2 img {    
    border-radius: 20px 20px 0 0;
    height: 124px;
    object-fit: cover;
}

.card-content2 {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
}

.container_hotel {
    display:grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 1fr 1fr;
    gap: 30px;

}

.afficher{
    font-size: 20px;
    font-weight: 700;

}