/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/* Entête, recherche et filtres */

nav {
    display: flex;
    flex-direction: row;
    gap: 68px;
}
nav a {
    padding-top: 15px;
    border-top: 2px solid transparent;
}

nav a:hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
}

.logo {
    width: 61px;
    height: 19px;
    margin-top: 25px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 79px;
}

.recherche {
    display: flex;
    justify-content: flex-start;
    border-radius: 15px;
    height: 49px;
    margin-bottom: 40px;
}

.recherche form {
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.recherche i {
    display: grid;
    place-content: center;
    font-size: 18px;
    color: black;
    background-color: #f2f2f2;
    width: 50px;
    height: 49px;
    border: 1px solid #f2f2f2;
    border-radius: 15px 0 0 15px;
}

.headline {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 53px;
}

h1 {
    font-size: 22px;
    margin-bottom: 0;
}

.container-button button {
    background-color: #0065fc;
    font-size: 18px;
    font-weight: 700;
    color: white;
    width: fit-content;
    overflow: hidden;
    height: 49px;
    padding: 15px 16px;
    border: 1px solid #0065fc;
    border-radius: 0 15px 15px 0;
}

.container-button i {
    background-color: #0065fc;
    display: none;
    place-content: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
    width: 50px;
    height: 49px;
    border: 1px solid #0065fc;
    border-radius: 0 15px 15px 0;
}

.texte {
    flex: 1;
    height: 49px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    border-right: none;
    line-height: 21.13px;
}

.container-filtre {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    margin-bottom: 25px;
}

.container-filtre > p {
    display: flex;
    align-items: center;
}

.filtres {
    display: flex;
    gap: 15px;
}

.filtre {
    display: flex;
    flex: 1;
    width: fit-content;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    height: 35px;
    gap: 10px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
}

.dual-filtre {
display: flex;
gap: 15px;
}

.filtre p {
    font-size: 16px;
}

.filtre i {
    display: grid;
    place-items: center;
    font-size: 22px;
    width: 22px;
    height: 22px;
    color: #0065fc;
}

.filtre:hover {
    background-color: #deebff;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.info .fa-solid {
    display: grid;
    place-items: center;
    border: 1px solid #d9d9d9;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 11px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--main-bg-color);
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.hebergements-cards .card-content {
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 16px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.afficher {
    font-size: 18px;
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*activités*/

.activites {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    gap: 30px;
    box-sizing: border-box;
}

.activites-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
}
.activites-container a {
    width: 25%;
}

.activites-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    flex: 0;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    gap: 10px;
}

.activites-card img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activites-card p {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    height: fit-content;
    padding: 20px 19px;
}

/*footer*/
footer {
    display: flex;
    background-color: rgba(242, 242, 242, 1);
}

.footer-column-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 33%;
    gap: 15px;
}

.footer-column-container p {
    font-size: 16px;
    font-weight: 400;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /*filtre*/
    .container-filtre {
        flex-direction: column;
        align-items: flex-start;
    }
    .activites-card img {
        height: 200px;
    }
    .activites-card p {
        height: 30px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    header {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .logo {
        padding: 30px;
        margin-top: 0;
    }

    nav {
        gap: 0;
        width: 100%;
        margin-bottom: 30px;
    }

    nav a {
        width: 50%;
        text-align: center;
        font-size: 19px;
        padding-top: 0;
        padding-bottom: 15px;
        border-top: none;
        border-bottom: 2px solid rgba(242, 242, 242, 1);
    }

    nav a:hover {
        border-top: none;
        border-bottom: 2px solid #0065fc;
        color: #0065fc;
    }

    .headline {
        padding: 0 20px;
    }

    .recherche {
        justify-content: center;
        padding: 0 20px;
    }
    .recherche form {
        width: 100%;
    }

    .container-button button {
        display: none;
    }

    .container-button i {
        display: grid;
    }

    .container-filtre {
        padding: 0 0 0 20px;
        max-width: 335px;
        width: 100%;
        
    }

    .filtres{
    flex-direction: column;


    }

    .filtre{
        width: 25%;
    }

    .filtre p {
        font-size: 14px;
    }

    .info {
        padding: 0 20px;
    }

.hebergements-and-populaires section {
    border-radius: 0;
}

    .hebergements {
        order: 2;
        background-color:white ;
    }

    .populaires {
        order: 1;
    }

    .hebergements-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activites-container {
        flex-direction: column;
    }

    .activites-container a {
        width: 100%;
    }

    footer {
        flex-direction: column;
        padding: 30px;
        gap: 50px;
    }
    .footer-column-container p {
        font-size: 16px;
        font-weight: 400;
    }
}
